.header{
    color: white;
    background-color: #494949;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerRightSideBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerRightSideBlockItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerRightSideBlock img{
    margin: 10px;
    height: 40px;
    width: 40px;
}

.blockLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainTitle {
    display: flex;
    font-family: "Droid Sans", serif;

}

.navIcon{
    margin: 20px;
    background-color: #ffffff;
    height: 40px;
    width: 60px;

}

.logoIcon{
    padding-top: 10px;
    padding-right: 5px;
    height: 45px;
    width: 80px;
}

