.header {
    background-color: #61dafb;
}
.mainTitle {
    background-color: #fb6161;

}
.underTitle {
    background-color: #51fd08;

}

.savedItems {
    background-color: #fdc808;

}

.savedItem {
    background-color: #c808fd;

}